<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.3" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_3.xsd">
	<display-name>Archetype Created Web Application</display-name>
	<!-- <welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list> -->

	<!-- ContextLoaderListener is in charge of starting and stopping the spring 
		root ApplicationContext. ContextLoaderListener determines which configuration 
		are to be used, by looking at the <context-param> tag -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/spring/security.xml
			/WEB-INF/spring/services.xml
		</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<!-- Security filter mapping start -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class> org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- Security filter mapping end -->

	<!-- dispatcher servlet start -->
	<servlet>
		<servlet-name>Spring MVC Dispatcher Servlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/library-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Spring MVC Dispatcher Servlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<!-- dispatcher servlet end -->

	<servlet>
		<servlet-name>h2</servlet-name>
		<servlet-class>org.h2.server.web.WebServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>h2</servlet-name>
		<url-pattern>/admin/h2/*</url-pattern>
	</servlet-mapping>

</web-app>
